### Configuration
SITE_NAME = "Open's API"
SITE_SECRET_KEY = '12345'
SITE_API_KEY = 'demo'

### Timezone
TZ = 'Asia/Jakarta'

### JWT Secret
JWT_SECRET = 'neoxr'

### RPM (Request Per Minute)
REQUEST_LIMIT = 30

### Cloudflare (optional)
CF_API_TOKEN = ''
CF_ZONE_ID = ''
